body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 400px;
    margin: 0 auto;
}

.caixa {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task {
    flex: 1;
    word-break: break-all;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
